<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="">
        <input type="checkbox" id="" name="" value="">
        <label for=""> uno</label><br>
        <input type="checkbox" id="" name="" value="">
        <label for=""> dos</label><br>
        <input type="checkbox" id="" name="" value="">
        <label for=""> tres</label><br><br>
        
      </form>
    
</body>
</html>